<app-header />

<main class="main">
  <div>
  <ul>
  @for (work of works(); track work.id) {
    <li>
      <app-work [work]="work"></app-work>
    </li>
  }
  </ul>
    <div>
      <form (ngSubmit)="onSubmit()">
        <span>
          <label for="workName">Work name</label>
          <input type="text" id="workName" name="workName" [(ngModel)]="workName" required />
          <button type="submit">Add Work</button>
        </span>
      </form>
    </div>
  </div>



</main>

<router-outlet />
