<app-header />

<main class="main">
  <div>
    <div>
      <form (ngSubmit)="onSubmit()">
        <span>
          <label for="workName"><b>Work name: </b></label>
          <input type="text" id="workName" name="workName" [(ngModel)]="workName" required />
          <button type="submit">Add Work</button>
        </span>
      </form>
    </div>
  <ul>
  @for (work of works(); track work.id) {
    <li class="works">
      <app-work
      [work]="work"
      (select)="onSelectWork($event)"
      (edit)="onEditWork($event)"
      (delete)="onDeleteWork($event)"></app-work>
    </li>
  }
  </ul>
  </div>

  @if (selectedWork) {
  <div>
    <app-work-time
    [work]="selectedWork"></app-work-time>
  </div>
  }


</main>

<router-outlet />
